build
dist
// q: how do I remove already tracked files from git?
// a: https://stackoverflow.com/questions/1274057/how-to-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore
dht_22_FJ.X/nbproject/Makefile-default.mk
dht_22_FJ.X/nbproject/Makefile-default.mk
dht_22_FJ.X/nbproject/Makefile-default.mk
.generated_files
